[submodule "themes/hugo-introduction-theme"]
	path = themes/hugo-introduction-theme
	url = https://github.com/vickylaixy/hugo-theme-introduction.git
[submodule "themes/hugo-creative-portfolio"]
	path = themes/hugo-creative-portfolio
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
